[Unit]
Description=logwatch service

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/root/bin/logwatch.sh run

[Install]
WantedBy=multi-user.target
