[Unit]
Description=logprovider service

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/root/bin/logprovider.sh

[Install]
WantedBy=multi-user.target
